figure.element {
  margin-top: 0 !important;
}

body {
  font-family: "TS3 Text Sans";
}
.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

  
  .cta {
    a {
      color: #69D1CA;
    }
  }

  #ShareMe {
    ul li {
      display: inline;
    }
    li:nth-child(3) a {
      background-color: #767676 !important;
      svg {
        stroke: white;
      }
    }
  }

  #Footer .related {
    width: 100%;
  }
  .ClientDetails {
    position: absolute;
    right: 2rem;
    top: 1rem;
  }
  .Title-Container h1 {
    font-family: "Guardian Headline Full";
    font-weight: 100;
  }

  @include mq($until: tablet) {
    #Glabs #Footer .InnerFooter .PartnerZoneLinks {
    flex-basis: 100%;
    }
  }