<div class="interactive-wrapper">
    <div id="Glabs">
        <main>
            <header>
                <div class="">

                    <div class="bg"
                        style="background-image: url('<%= path %>/header.jpg');">
                        
                        <div class="client">
                            <p>Paid for by <img src="<%= path %>/logo.svg" width="150"/></p>
                        </div>
                                                    <div class="title">
                                                        <h1 class="text-bg"><span>“Covid lit a fire under us”: Four businesses bringing new energy into 2021</span></h1>
                                                        <p>Australian businesses have a lot to look forward to in 2021. Meet the brands taking what they’ve learned through Covid and turning it into success.</p>
                                                    </div>
                    </div>
                    <!-- <video src="<%= path %>/smoke.mp4" autoplay playsinline loop muted ></video> -->
                </div>
            </header>
            <div id="root">

            </div>
         
        </main>
        <div id="Live">
            
            <div id="SocialMediaIcons" class="SocialMediaIcons">
                <div class="GlabsContainer">
                    <div class="ResponsiveContainer">
                        <div>
                            <div id="ShareMe">
                                <h3>Share</h3>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="GlabsContainer">
                <div class="ResponsiveContainer">
                    <div id="Footer" class=" ">
                        <div class="footer-cta" data-dyn="footerCta">


                        </div>
                        <div class="related">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>