<div class="interactive-wrapper">
    <div id="Glabs">
        <main>
            <header>
                <div class="flex-container">
                    <div class="bg"
                        style="background-image: url('<%= path %>/header.jpg');">
                    </div>
                    <!-- <video src="<%= path %>/smoke.mp4" autoplay playsinline loop muted ></video> -->

                            <div class="title">
                                <h1 class="text-bg"><span>“Covid lit a fire under us”: Four businesses bringing new energy into 2021</span></h1>
                                <p>Australian businesses have a lot to look forward to in 2021. Meet the brands taking what they’ve learned through Covid and turning it into success.</p>
                            </div>
                </div>
            </header>
            
            <section class="container nimble">
                <div class="panel">
                    <div class="bg">
                        <div class="collage">
                            <img  width="515" height="615" alt="" src="<%= path %>/spacer.png"> 
                            <img data-dyn="nimble-1" width="515" height="615" alt="" data-anim='{"y":"60"}' data-endPos="90%" > 
                            <img src="<%= path %>/nimble-2.png" width="515" height="615" alt="" data-anim='{"y":"160"}' data-endPos="20%" >
                            <img src="<%= path %>/nimble-3.png" width="515" height="615" alt="">
                        </div>
                    <!-- <div class="vis pleft" style="background-image: url(<%= path %>/img1.jpg); background-position: 50% 100%;"> -->
                        <div class="audio">
                            <div id="aud1"></div>
                            <p>Hear Xavier on how  listening to customer insights and trusting the team to make things that help develop good financial habits.</p>
                        </div>
                    </div>
                </div>
               
                <div class="content">
                    <h2>Bringing community spirit back to retail - Nimble Activewear founder Vera Yan and senior marketing manager Justine Cusack</h2>
                    <p>Nimble calls itself &ldquo;a step towards self-expression for women to celebrate individuality, acknowledge differences and develop self-acceptance.&rdquo; In 2020, the activewear brand lived those values. This year, the celebration will continue at a rapid pace.</p>
<p>&ldquo;2020 was so much about agility and moving to what the world and circumstances demanded,&rdquo; says Nimble co-founder Vera Yan. &ldquo;2021, for us, is about being a lot more intentional.&rdquo;</p>
<p><q>&ldquo;Community has always been where we build credibility and trust.&rdquo;<span>  -  Vera Yan</span></q></p>
<p>Senior marketing manager, Justine Cusack, says: &ldquo;Retail is a big focus. We&rsquo;ll be opening a new space in May. Before Covid, community was a really big part of our stores &hellip; [they were] little community hubs where our customers could interact with our brand. It&rsquo;s about refocusing there.&rdquo;</p>
<p>Nimble&rsquo;s goal is to capture that same community spirit in its online spaces, too. Yan says: &ldquo;Community has always been where we build credibility and trust. Connecting with our local community and bringing people together has always been a big part of our brand. We&rsquo;re looking at how we can really tailor the journey to our customer and give her what she&rsquo;s looking for. A big focus for us is how can we make our online presence more than just a shopfront?&rdquo;</p>
<p>Yan says Nimble&rsquo;s goal is to create a consistent experience across all touchpoints, from social media to the website to emails to in-store. As a largely digital business, it aims to leverage technology and make it work harder.</p>
<p>Ultimately, the Nimble team hopes to keep bringing women together to get active. Cusack says: &ldquo;It's about how that makes you feel, makes you breathe, makes you happy. It&rsquo;s encouraging people to get out there and move.&rdquo;</p>
                </div>
            </section>
            <section class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate tenetur animi praesentium dolores, incidunt quam aspernatur esse rerum architecto. Doloremque velit quibusdam suscipit quod numquam delectus. Sunt enim eveniet quis!</p>
            </section>
            <section class="audio">
                <div class="vis pright" style="background-image: url(<%= path %>/img1.jpg); background-position: 50% 100%;"></div>
            </section>
            <section class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate tenetur animi praesentium dolores, incidunt quam aspernatur esse rerum architecto. Doloremque velit quibusdam suscipit quod numquam delectus. Sunt enim eveniet quis!</p>
            </section>            
        </main>
        <div id="Live">
            
            <div id="Top" class="GlabsContainer">
                <div class="ResponsiveContainer">
                    <div class="BodyCopy">

                        <div class="GlabsContainer">
                            <div class="FullWidth">
                                <div class="inner">
                                </div>
                            </div>
                        </div>
 

                        <div class="BodyCopy cta" data-dyn="cta">
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="GlabsContainer">
                <div class="ResponsiveContainer">
                    <div class="grid">
                        
                        
                    </div>
                </div>
            </div>
            <div id="Bottom" class="GlabsContainer">
                <div class="ResponsiveContainer">

                </div>
            </div>
            <div id="SocialMediaIcons" class="SocialMediaIcons">
                <div class="GlabsContainer">
                    <div class="ResponsiveContainer">
                        <div>
                            <div id="ShareMe">
                                <h3>Share</h3>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="GlabsContainer">
                <div class="ResponsiveContainer">
                    <div id="Footer" class=" ">
                        <div class="footer-cta" data-dyn="footerCta">


                        </div>
                        <div class="related">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>